{% extends "admin/layout.html" %}

{% block content %}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <form  method="POST" id="new_student" enctype="multipart/form-data">
                <input type="hidden"id= "id" name="id" value="{{ student.id if student else '' }}">
                <div class="row">
                    <div class="col-md-6 border-right">
                        <div class="form-group">
                            <label for="" class="control-label">School ID</label>
                            <input type="text"id= "school_id" name="school_id" class="form-control form-control-sm" required value="{{ student.school_id if student else '' }}">
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label">First Name</label>
                            <input type="text"id= "firstname" name="firstname" class="form-control form-control-sm" required value="{{ student.firstname if student else '' }}">
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label">Last Name</label>
                            <input type="text"id= "lastname" name="lastname" class="form-control form-control-sm" required value="{{ student.lastname if student else '' }}">
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label">Class</label>
                            <select name="class_id" id="class_id" class="form-control form-control-sm select2">
                                <option value=""></option>
                                {% for class in classes %}
                                <option value="{{ class.id }}" {{ 'selected' if student and student.class_id == class.id else '' }}>{{ class.class }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="" class="control-label">Avatar</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="img" onchange="displayImg(this, $(this))">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                        <div class="form-group d-flex justify-content-center align-items-center">
                            <img src="{{ url_for('static', filename='uploads/' + student.avatar) if student and student.avatar else '' }}" alt="Avatar" id="cimg" class="img-fluid img-thumbnail">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Email</label>
                            <input type="email" class="form-control form-control-sm" name="email" id="email" required value="{{ student.email if student else '' }}">
                            <small id="msg"></small>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Password</label>
                            <input type="password" class="form-control form-control-sm" name="password" id="password" {{ 'required' if not student else '' }}>
                            <small><i>{{ 'Leave this blank if you don\'t want to change your password' if student else '' }}</i></small>
                        </div>
                        <div class="form-group">
                            <label class="label control-label">Confirm Password</label>
                            <input type="password" class="form-control form-control-sm" name="cpass" {{ 'required' if not student else '' }}>
                            <small id="pass_match" data-status=""></small>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-lg-12 text-right justify-content-center d-flex">
                    <button type="submit" class="btn btn-secondary btn-secondary-blue mr-3">{{ 'Update' if student else 'Submit' }}</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href = '/students';">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
<script>
    $('[name="password"],[name="cpass"]').keyup(function(){
        var pass = $('[name="password"]').val()
        var cpass = $('[name="cpass"]').val()
        if(cpass == '' || pass == ''){
            $('#pass_match').attr('data-status','')
        } else {
            if(cpass == pass){
                $('#pass_match').attr('data-status','1').html('<i class="text-success">Password Matched.</i>')
            } else {
                $('#pass_match').attr('data-status','2').html('<i class="text-danger">Password does not match.</i>')
            }
        }
    })

    function displayImg(input, _this) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#cimg').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $('#manage_student').submit(function(e){
        e.preventDefault()
        $('input').removeClass("border-danger")
        $('#msg').html('')
        if($('[name="password"]').val() != '' && $('[name="cpass"]').val() != ''){
            if($('#pass_match').attr('data-status') != 1){
                if($("[name='password']").val() !=''){
                    $('[name="password"],[name="cpass"]').addClass("border-danger")
                    return false;
                }
            }
        }
        this.submit();
    })
</script>
<script>
    window.onload = function() {
        window.history.pushState({}, '', window.location.href);
        window.onpopstate = function() {
            window.history.pushState({}, '', window.location.href);
        };
    };
</script>
